<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Authentication</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% for message in messages %}
            <div class="alert alert-{{ message_tags }} alert-dismissable fade show" role='alert'>
            <strong>Message:</strong>{{message}}
            <button type='button' class='close' data-dismiss='alert' arial-label='Close'>
            <span aria-hidden='true'>&times</span>
            </button>
            </div>
        {% endfor %}
      <h2>Welcome to my page</h2>
      {% if user.is_authenticated%}
            <h4>Hello, {{ fname }}</h4>
            <h4>You are welcome</h4>
      <button><a href="{% url 'signout' %}">Sign Out </button>
      {% else %}
      
      <button><a href="{% url 'signin' %}">Sign In </button>
      <button><a href="{% url 'signup' %}">Sign Up </button>
        {% endif %}
    </body>
</html>